:root {
  --text-color: #9EFFFF;
  --font-size: 30rem;
}

html, body {
  margin: 0;
  padding: 0;
}

#id {
  color: var(--text-color);
  font-size: var(--font-size);
}

.class {
  color: var(--text-color);
  font-size: var(--font-size);
}
